* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.wrap .big {
  width: 100%;
}

.wrap .big > div {
  width: 96%;
  height: 80px;
  border-radius: 15px;
  background: palegreen;
  margin: 2%;
}
